@import url('https://fonts.googleapis.com/css2? family = Press + Start + 2P & display = swap');
* {
    box-sizing: border-box;
}

body{
    background-color: #516dff;
    color: white;
    font-family: 'Press Start 2P', cursiva;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}
.screen{
    display:flex;
    flex-direction: column;
}