@import url('https://fonts.googleapis.com/css2? family = Press + Start + 2P & display = swap');
* {
    box-sizing: border-box;
}

body{
    background-color: #516dff;
    color: white;
    font-family: 'Press Start 2P', cursiva;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}
.screen{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    transition: margin 0.5s ease-out;
}

.choose-insect-btn img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.btn{
    border:0;
    background-color: #fff;
    color: #516dff;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: 0;
}

.screen.up{
    margin-top: -100vh;
}

.screen.up{
    margin-top: -200vh;
}

h1{
    line-height: 1.4;
}

.insect-list{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}