@import url('https://fonts.googleapis.com/css2? family = Press + Start + 2P & display = swap');
* {
    box-sizing: border-box;
}

body{
    background-color: #516dff;
    color: white;
    font-family: 'Press Start 2P', cursiva;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}
.screen{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    transition: margin 0.5s ease-out;
}

.choose-insect-btn img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.btn{
    border:0;
    background-color: #fff;
    color: #516dff;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: 0;
}

.screen.up{
    margin-top: -100vh;
}

.screen.up{
    margin-top: -200vh;
}

h1{
    line-height: 1.4;
}

.insect-list{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.insect-list li{
    margin: 10px;
}

.choose-insect-btn{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.choose-insect-btn:hover{
    background-color: #fff;
    color: #516dff;
}

.choose-insect-btn:active{
    background-color: rgba(255,255,255,0.7);
}

.game-container{
    position: relative;
}

.time,
.score{
    position: absolute;
    top: 20px;
}

.time{
    left: 200px;
}

.score{
    right: 20px;
}

.message{
    line-height: 1.7;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    z-index: 100;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: transform 0.4s ease-in;
}

.message.visible{
    opacity: 1;
    transform: translate(-50%, -150%);
}

.insect{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.insect.caught{
    transform: translate (-50%, -50%) scale(0);
}

.insect img{
    width: 300px;
    height: 100px;
}
